#how_work {
  /*padding: 0 114px;*/
  margin-bottom: 50px; }
  #how_work .stage {
    cursor:pointer;
    position: relative; }
  #how_work .stages {
    display: table;
    margin-bottom: 12px;
    min-height: 215px; }
    #how_work .stages .stage {

      display: table-cell;
      width: 20%;
      padding-left: 48px;
      padding-bottom: 73px; }
      #how_work .stages .stage:first-child {
        padding-left: 0; }
        #how_work .stages .stage:first-child + .stage:after {
          background: url("../img/how-work/arrow-mod2.png"); }
        #how_work .stages .stage:first-child + .stage .special {
          text-transform: uppercase;
          font-size: 140%;
          line-height: 3; }
        #how_work .stages .stage:first-child:after {
          display: none; }
        #how_work .stages .stage:first-child img, #how_work .stages .stage:last-child img {
          display: block;
          margin: 31px auto 0 auto; }
      #how_work .stages .stage.selected .pseudo {
        border: 0;
        font-weight: 700; }
      #how_work .stages .stage:after {
        content: "";
        background: url("../img/how-work/arrow.png");
        position: absolute;
        top: 0;
        left: 0;
        width: 31px;
        height: 215px; }
      #how_work .stages .stage:last-child:after {
        background: url("../img/how-work/arrow-mod2.png"); }
      #how_work .stages .stage .pseudo {
        font-size: 119%; }
      #how_work .stages .stage .special {
        position: absolute;
        bottom: 30px;
        left: 0;
        width: 100%;
        margin-left: 48px;
        font: 700 327%/0.9 "proxima-nova", sans-serif; }
        #how_work .stages .stage .special span {
          display: block;
          font-size: 33%; }
  #how_work .description .stage {
    border: 1px solid #D0D0D0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    display: none;
    padding: 39px; }
    #how_work .description .stage:after {
      border-width: 0 27px 18px 27px;
      border-color: transparent transparent #D0D0D0 transparent;
      top: -18px;
      left: 58px; }
    #how_work .description .stage:before {
      border-width: 0 25px 17px 25px;
      border-color: transparent transparent #FFF transparent;
      top: -17px;
      left: 60px;
      z-index: 1; }
    #how_work .description .stage:after, #how_work .description .stage:before {
      content: "";
      border-style: solid;
      position: absolute;
      width: 0;
      height: 0;
    }
    #how_work .description .stage.selected {
      display: block;
      }
      #how_work .description .stage.selected.point_pos_2:after {
        left: 265px; }
      #how_work .description .stage.selected.point_pos_2:before {
        left: 267px; }
      #how_work .description .stage.selected.point_pos_3:after {
        left: 462px; }
      #how_work .description .stage.selected.point_pos_3:before {
        left: 464px; }
      #how_work .description .stage.selected.point_pos_4:after {
        left: 645px; }
      #how_work .description .stage.selected.point_pos_4:before {
        left: 647px; }
      #how_work .description .stage.selected.point_pos_5:after {
        left: 851px; }
      #how_work .description .stage.selected.point_pos_5:before {
        left: 853px; }
