.btn-default {
  background: transparent;
}
.btn-default.btn-sm {
  padding: 0 7px;
  border-radius: 10px;
  font-size: 13px;
  color: #7c7c7c;
  border-color: #7c7c7c;
  line-height: 18px;
}
h1 {
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
}
h1.first-on-page {
  margin-top:0px;
  margin-bottom: 15px;
}

h1 {
  margin-top:45px;
  margin-bottom:20px;
}

h2 {
  font-weight: 700;
  margin-bottom: 25px;
}
h3 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 33px;
}
h4 {
  font-weight: 400;
  font-size: 18px;
}
.text-gray {
  color: #949494;
}
.text-black {
  color: #000;
}
.text-bold {
  font-weight: 700;
}
a.red-link,
.page_content a {
  cursor: pointer;
  border-bottom: 2px dashed #db0011;
  color: black;
}
a.red-link:hover,
.page_content a:hover {
  color: #db0011;
  text-decoration: none;
  border-bottom: 2px solid #db0011;
}
a.red-link.md2,
.page_content a.md2 {
  font-weight: 400;
}
a.red-link.md2,
.page_content a.md2,
a.red-link.md2:hover,
.page_content a.md2:hover {
  border-width: 1px;
}
a.red-link {
  font-weight: 700;
}
a.tag-filter-link {
    cursor: pointer;
    border-bottom: 2px dashed #db0011;
    color: black;
}
a.tag-filter-link:hover {
    font-weight: 700;
    background-color: #ffffff !important;
}
a.tag-filter-link:focus {
    background-color: #ffffff !important;
}
.no-border {
  border: none !important;
}
.link-dashed {
  cursor: pointer;
  border-bottom: 1px dashed black;
  color: #000 !important;
  text-decoration: none !important;
}
.link-dashed:hover {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid black;
}
.active .link-dashed,
.link-dashed.active {
  font-weight: 700;
  cursor: default;
  border-bottom: 0;
}
.white-popup-block {
  background: #FFF;
  padding: 20px 30px;
  text-align: left;
  max-width: 650px;
  margin: 40px auto;
  position: relative;
}
.header {
  background: white;
  height: 80px;
  border-bottom: 1px solid #ededed;
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  z-index: 1000;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  -ms-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  transition: background 0.1s linear;
}
.header .navbar-brand {
  padding: 0;
  position: relative;
  margin-top: -6px;
  margin-left: 0 !important;
  height: 56px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.mobile-menu {
  width: 42px;
  height: 42px;
  background: transparent url("../img/mobile/mobile-menu.png") 0 0 no-repeat;
  position: absolute;
  right: 20px; 
  display: none;
}
.header .navbar-nav {
  margin-left: 28px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.header .navbar-nav li > a {
  padding-left: 20px;
  padding-right: 20px;
}
.header-nav {
  margin: 15px 0;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.header-nav-logo {
  height: 56px;
}
.header-nav-logo__big {
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -ms-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
  transition: all linear 0.1s;
}
.header-nav-logo__small {
  position: absolute;
  top: 0;
  left: 90px;
  opacity: 0;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -ms-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
  transition: all linear 0.1s;
}
.header-nav a {
  color: #525151;
}
.header-nav-right {
  margin: 10px 15px 10px 0;
}
.header-nav-right-tel {
  font-size: 18px;
  margin-right: 65px;
  line-height: 27px;
}
.header-nav-right .btn-sm {
  margin: -4px 0 0;
}
.header.header__landing {
  position: absolute;
  bottom: 0;
}
.header.header__page {
  position: fixed;
}
.header.header__static {
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  position: fixed !important;
  height: 51px;
  background-color: #e6e6e6;
  border-color: #ededed;
  z-index: 100;
}
.header.header__static .navbar-brand {
  margin-right: -11px;
  margin-top: 0;
}
.header.header__static .navbar-nav {
  margin-left: 0;
}
.header.header__static .header-nav {
  margin: 0;
}
.header.header__static .header-nav-logo {
  height: 35px;
  margin-top: 0;
}
.header.header__static .header-nav-logo__big {
  opacity: 0;
  margin-top: 7px;
}
.header.header__static .header-nav-logo__small {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  margin-top: 7px;
}
.header__text {
  font-size: 2em;
  line-height: 1.2em;
}
.fact {
  background-color: white;
  border: #db0011 3px solid;
  border-radius: 60px;
  width: 120px;
  height: 120px;
  margin: 0 auto 10px;
  text-align: center;
  font-size: 18px;
  padding-top: 38px;
  line-height: 100%;
}
.fact-num {
  font-size: 28px;
  font-weight:700;
}
.wrapper-page {
  width: 100%;
  height: 100%;
  z-index: 10;
}
.wrapper-page .header {
  position: absolute;
  bottom: 0;
  left: 0;
}
.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
}
.page-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #FFFFFF;
  z-index: 11;
}
.slider {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
}
.slider-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.slider-slide .slider-slide-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.slider-slide .slider-slide-link {
  position: relative;
  text-align: right;
  top: 80px;
  z-index: 1;
}
a.slider-slide .slider-slide-link,
.slider-slide .slider-slide-link a {
  font-size: 18px;
  cursor: pointer;
  color: #000;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
a.slider-slide .slider-slide-link:hover,
.slider-slide .slider-slide-link a:hover {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.slider-title {
  color: #fff;
  position: absolute;
  bottom: 130px;
  width: 100%;
  margin-left: 19px;
}
.slider-title h1 {
  font-size: 58px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  margin-bottom: 30px;
  line-height: 105%;
  letter-spacing: 1px;
}
.slider-title p {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  font-size: 24px;
  line-height: 1.2em;
}
.slider-nav {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slider-nav-link {
  display: inline-block;
  width: 50px;
  margin: 10px;
  height: 50px;
  padding: 15px;
  cursor: pointer;
}
.slider-nav-link:after {
  content: ' ';
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 10px;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.slider-nav-link:hover:after {
  background: rgba(255, 255, 255, 0.4);
}
.slider-nav-link.active {
  cursor: default;
}
.slider-nav-link.active:after {
  background: red;
  border-color: red;
}
.service {
  margin-bottom: 65px;
}
.service-calc-result {
  border: 1px solid #d6d6d6;
  border-radius: 20px;
  padding: 11px 18px 25px;
  margin-left: 10px;
  background-color: #fff;
  position: relative;
  min-height: 550px;
}
.service-calc-result .form {
  display: none;
  width: auto;
  border: 0;
}
.service-calc-result .form-message {
  width: auto;
}
.service-calc-result .form-input {
  width: auto;
}
.service-calc-result.service-calc-result__form .form {
  display: block;
}
.service-calc-result-p.text-center {
  padding-top:20px;
  padding-bottom:10px;
}
.service-calc-result.service-calc-result__form .service-calc-result-p {
  display: none;
}
.service-calc-select {
  list-style: none;
  margin: 17px 0 0;
  padding: 0;
  line-height: 24px;
}
.calc-select {
  display: block;
  padding-left: 35px;
  position: relative;
  margin-bottom: 50px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  letter-spacing: .3px;
}
.calc-select:before {
  top: 50%;
  left: 0;
  margin-top: -8px;
  display: block;
  position: absolute;
  content: ' ';
  background: transparent;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  border: 1px solid #db0011;
  cursor: pointer;
}
.calc-select > span {
  font-style: italic;
  cursor: pointer;
}
.calc-select:hover > span {
  border-bottom: 1px solid black;
}
.calc-select:hover:before {
  border: 3px solid #db0011;
}
.calc-select.active {
  letter-spacing: inherit;
}
.calc-select.active:hover {
  cursor: default;
}
.calc-select.active:hover > span {
  border-bottom: 0;
}
.calc-select.active:before {
  background: #db0011;
  border: 0;
}
.calc-result-list {
  list-style: none;
  padding: 0;
  margin: 22px 0 14px;
  line-height: 18px;
}
.calc-result-list-item {
  display: block;
  position: relative;
  color: #9c9c9c;
  padding-left: 19px;
  margin-bottom: 20px;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.calc-result-list-item:last-child {
  margin-bottom: 0;
}
.calc-result-list-item:before {
  top: 6px;
  left: 0;
  display: block;
  position: absolute;
  content: ' ';
  background: transparent;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: 1px solid #9c9c9c;
  -webkit-transition: background 0.2s linear, border 0.2s linear;
  -moz-transition: background 0.2s linear, border 0.2s linear;
  -ms-transition: background 0.2s linear, border 0.2s linear;
  -o-transition: background 0.2s linear, border 0.2s linear;
  transition: background 0.2s linear, border 0.2s linear;
}
.calc-result-list-item.active {
  color: black;
}
.calc-result-list-item.active:before {
  background: #db0011;
  border-color: #db0011;
}
.calc-result-link {
  color: #000;
  text-decoration: none;
}
.calc-result-link:hover {
  color: #000;
  text-decoration: none;
}
.calc-result-link > img {
  margin-right: 10px;
}
.calc-result-link > span:not(.anti-link) {
  border-bottom: 1px solid #d3d3d3;
}
.calc-result-anchor {
  display: block;
  background: transparent url(../img/2/service_anchor.png) 0 0 no-repeat;
  width: 11px;
  height: 23px;
  -webkit-transition: top 0.2s linear;
  -moz-transition: top 0.2s linear;
  -ms-transition: top 0.2s linear;
  -o-transition: top 0.2s linear;
  transition: top 0.2s linear;
  position: absolute;
  top: 100px;
  left: -11px;
}
/*nowrap | wrap | wrap-reverse*/
/*row | row-reverse | column | column-reverse*/
/*flex-start | flex-end | center | space-between | space-around | stretch*/
/*flex-start | flex-end | center | baseline | stretch*/
.price {
  margin-bottom: 80px;
}

.price h1 {
  text-align: center;
}

.price-categories-set {
  margin: 0 auto;
  width: 613px;
  font-size: 0;
  margin-bottom: 20px;
}

.price-category {
  color: #db0011;
  font-size: 16px;
  font-weight: 700;
  border-left: 2px solid #db0011;
  border-top: 2px solid #db0011;
  border-bottom: 2px solid #db0011;
  display: inline-block;
  width: 150px;
  padding: 7px 5px;
  text-align: center;
  cursor: pointer;
}

.price-category:first-child {
  border: 2px solid #e0cd02;
  color: #e0cd02;
  margin-right: 10px;
}

.price-category:last-child{
  border-right: 2px solid #db0011;
}

.price-category-active {
  color: #ffffff;
  background-color: #db0011;
}

.price-category-active:first-child {
  color: #ffffff;
  background-color: #e0cd02;
}

.price-category-descriptions {
  color: #888888;
  margin-bottom: 20px;
  overflow-y: hidden;
}

.price-category-description {
  text-align: center;
  display: none;
  line-height: 1.2;
}

.price-category-description-active {
  text-align: center;
  display: block;
  line-height: 1.4;
}

.price-calculator {
  width: 600px;
  margin: 0 auto;
}

.price-calculator-0, .price-calculator-1, .price-calculator-2, .price-calculator-3, .price-calculator-4 {
  display: inline-block;
  font-weight: 700;
  font-size: 30px;
  margin-right: 15px;
}

.price-calculator-2 {
  color: #db0011;
}

.price-calculator-top {
  font-size: 14px;
  text-align: center;
  color: #999999;
}

.price-calculator-center {
  padding: 5px;
}

.price-calculator-center input {
  font-size: 30px;
  color: #888888;
  width: 135px;
  padding: 0 15px;
}

.price-max60, .discount, .discount400 {
  color: #888888;
  text-align: center;
  margin-top: 20px;
  display: none;
}

.discount-span, .discount400-span {
  color: #db0011;
}

.price-max60-visible, .discount-visible, .discount400-visible {
  display: block;
}

.portfolio {
  margin-bottom: 20px;
}

.portfolio-tags {
    list-style-type: none;
    margin-bottom: 20px;
}
.portfolio-tags > li {
    display:inline-block;
}

.portfolio-tags li > a {
    padding: 1px 3px;
    color: black;
    margin: 0 20px 0 0;
}

.portfolio-tags li > a:hover {

}

.portfolio-gallery {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.portfolio-gallery .row {
  display: none;
}
.portfolio-gallery .row.view {
  display: block;
}
.portfolio-gallery-thumbnail {
  background: rgba(0, 0, 0, 0.1) center;
  margin-bottom: 30px;
  background-size: cover;
}
.portfolio-gallery-thumbnail a {
  color: #fff;
  display: block;
  height: 232px;
  padding: 30px;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 123%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  -ms-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
  background: rgba(0, 0, 0, 0.3);
  position: relative;
  text-decoration: none;
}
.portfolio-gallery-thumbnail a:hover {
  background: rgba(0, 0, 0, 0);
}
.portfolio-gallery-thumbnail a span {
  vertical-align: middle;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.portfolio-gallery-thumbnail a span.area {
  opacity: 0.5;
  display: block;
  position: absolute;
  bottom: 0;
  right: 8px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.portfolio-gallery-thumbnail a:hover span {
  vertical-align: middle;
  opacity: 0;
}
.portfolio-gallery-more {
  font-size: 25px;
}
.reviews {
  height: 400px;
  margin-top:20px;
}
.review {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  /*old syntax*/
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -webkit-box-orient: row;
  -moz-box-orient: row;
  -ms-box-orient: row;
  /*new syntax*/
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 20px 0;
}
.review-author {
  -webkit-flex: 0 0 200px;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  text-align: center;
}
.review-author-photo {
  margin: 20px auto 15px;
}
.review-author-photo > img {
  height: 74px;
  width: 74px;
  border-radius: 40px;
}
.review-author-name {
  font-size: 18px;
  font-weight: 600;
  padding: 0 40px;
}
.review-author-prof {
  font-size: 12px;
  padding: 0px 40px;
}
.review-text {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.review-text-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 13px;
}
.review-video {
  -webkit-flex: 1 0 256px;
  -ms-flex: 1 0 256px;
  flex: 1 0 256px;
}
.review-video-link {
  display: block;
  width: 170px;
  height: 140px;
  margin: 24px auto;
  position: relative;
  background-color: tomato;
  background-size: cover;
}
.review-video-link .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent url(../img/5/icon-youtube.png) center no-repeat;
}
.carousel-control {
  width: 30px;
  background: transparent !important;
}
.carousel-control.left {
  left: -30px;
}
.carousel-control.right {
  right: -30px;
}
.icon-carousel {
  position: absolute;
  width: 18px;
  height: 59px;
  top: 85px;
  left: 0;
  background: transparent url(../img/5/icon-carousel-2.png) 0 0 no-repeat;
}
.icon-carousel.icon-carousel-prev {
  left: 0;
}
.icon-carousel.icon-carousel-next {
  background-position: -18px 0;
  right: 0;
}
.opportunities-list {
  display: table;
  height: 220px;
  width: 970px;
  overflow: hidden;
  margin-bottom: 50px;
}
.opportunity {
  display: table-cell;
  text-align: center;
  width: 161.66666667px;
  position: relative;
  backface-visibility: hidden;
  -webkit-transition: width 0.37s;
  -moz-transition: width 0.37s;
  -ms-transition: width 0.37s;
  -o-transition: width 0.37s;
  transition: width 0.37s;
}
.opportunity__shut {
  padding: 6px 0;
  -webkit-transition: padding 0.37s, opacity 0.37s;
  -moz-transition: padding 0.37s, opacity 0.37s;
  -ms-transition: padding 0.37s, opacity 0.37s;
  -o-transition: padding 0.37s, opacity 0.37s;
  transition: padding 0.37s, opacity 0.37s;
}
.opportunity__open {
  top: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.opportunity-circle {
  overflow: hidden;
  position: relative;
  margin: 0 auto 0;
  width: 138px;
  height: 138px;
  box-shadow: inset 0 0 0 3px #db0011;
  border-radius: 69px;
  padding: 29px;
  -webkit-transition: width 0.37s, height 0.37s, padding 0.37s;
  -moz-transition: width 0.37s, height 0.37s, padding 0.37s;
  -ms-transition: width 0.37s, height 0.37s, padding 0.37s;
  -o-transition: width 0.37s, height 0.37s, padding 0.37s;
  transition: width 0.37s, height 0.37s, padding 0.37s;
}
.opportunity-circle > img {
  width: 80px;
  height: 80px;
  -webkit-transition: width 0.37s, height 0.37s;
  -moz-transition: width 0.37s, height 0.37s;
  -ms-transition: width 0.37s, height 0.37s;
  -o-transition: width 0.37s, height 0.37s;
  transition: width 0.37s, height 0.37s;
}
.opportunity-content {
  background-color: #e6e6e6;
  height: 136px;
  border-radius: 68px;
  overflow: hidden;
  width: 138px;
  -webkit-transition: width 0.2s linear;
  -moz-transition: width 0.2s linear;
  -ms-transition: width 0.2s linear;
  -o-transition: width 0.2s linear;
  transition: width 0.2s linear;
}
.opportunity-content .author-img {
  position: absolute;
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  width: 80px;
  height: 80px;
  display: block;
  top: 28px;
  left: 28px;
}
.opportunity-content .author-text {
  text-align: left;
  display: block;
  padding: 15px 40px 15px 130px;
  opacity: 0;
  height: 136px;
  position: relative;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.opportunity-content .author-text-content {
  text-align: left;
}
.opportunity-content .author-text-nick {
  position: absolute;
  line-height: 1;
  right: 55px;
  bottom: 15px;
}
.opportunity-content .author-text-name {
  margin-top: 10px;
  text-align: right;
  font-weight: 600;
}
.opportunity-content .author-text-prof {
  margin-top: 2px;
  text-align: right;
}
.opportunity-text {
  margin-top: 20px;
  line-height: 145%;
  font-weight: 600;
  position: absolute;
  width: 100%;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.opportunities-list {
  /*&&__hover, */
}
.opportunities-list:hover .opportunity {
  width: 95.83333333px;
  /*&__hover,*/
}
.opportunities-list:hover .opportunity__shut {
  padding: 31px 0;
}
.opportunities-list:hover .opportunity__open {
  opacity: 0;
  position: absolute;
}
.opportunities-list:hover .opportunity-circle {
  height: 88px;
  width: 88px;
  padding: 17px;
  opacity: 1;
  -webkit-transition-duration: 0.37s;
  transition-duration: 0.37s;
}
.opportunities-list:hover .opportunity-circle > img {
  width: 54px;
  height: 54px;
}
.opportunities-list:hover .opportunity-text {
  opacity: 0;
}
.opportunities-list:hover .opportunity:hover {
  width: 395px;
}
.opportunities-list:hover .opportunity:hover .opportunity__shut {
  padding: 31px 0;
  opacity: 0;
}
.opportunities-list:hover .opportunity:hover .opportunity__open {
  opacity: 1;
  position: absolute;
  text-align: center;
  -webkit-transition-duration: 0.37s;
  transition-duration: 0.37s;
}
.opportunities-list:hover .opportunity:hover .opportunity-content {
  width: 100%;
}
.opportunities-list:hover .opportunity:hover .opportunity-content .author-text {
  -webkit-transition-delay: 0.37s;
  transition-delay: 0.37s;
  opacity: 1;
}
.opportunities-list:hover .opportunity:hover .opportunity-text {
  opacity: 1;
}
.employee {
  text-align: center;
  height: 233px;
}
a.js-person {
  text-decoration: none;
  outline: none;
}
.employee-photo {
  width: 164px;
  height: 164px;
  background-position: center;
  background-color: white;
  background-size: cover;
  border-radius: 82px;
  margin: 0 auto 10px;
  -webkit-transition: box-shadow 0.12s linear;
  -moz-transition: box-shadow 0.12s linear;
  -ms-transition: box-shadow 0.12s linear;
  -o-transition: box-shadow 0.12s linear;
  transition: box-shadow 0.12s linear;
}
a.js-person:hover .employee-photo {
  box-shadow: 0 0 0 5px rgba(100, 0, 0, 0.1);
}
a.js-person:focus .employee-photo {
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
}
.employee-name {
  margin-bottom: 0;
  font-weight: 700;
}
a .employee-name span {
  color: #000;
  border-bottom: 1px dashed #DB0011;
}
a:hover a .employee-name span span {
  text-decoration: none;
  border-bottom: 1px solid #DB0011;
}
a .employee-prof span {
  color: #000;
}
a:hover a .employee-prof span span {
  text-decoration: none;
}
.employee__new .employee-photo {
  border: 1px solid #9c9c9c;
  padding-top: 53px;
}
.employee__new .employee-photo a {
  line-height: 180%;
}
.employee__new.center .employee-photo {
  padding-top: 66px;
}
.col-xs-employee {
  width: 20%;
}
.social {
  margin: 30px 0;
}
.social-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: transparent -1px -1px no-repeat;
  background-size: 52px;
  margin: 30px 12px;
}
a.social-icon {
  border: 0 !important;
  text-decoration: none !important;
}
.front-img {
  width: 960px;
  height: 641px;
  background-image: url("../img/slider/front.jpg");
}
.front-img h1 {
  display: block;
  position: absolute;
  left: 30px;
  top: 440px;
  color: #ffffff;
  line-height: 92%;
  text-shadow: #000 0px 0px 10px;
}
.social-icon.social-icon-vk {
  background-image: url("../img/7/social/social-icon-vk.png");
}
.social-icon.social-icon-fb {
  background-image: url("../img/7/social/social-icon-fb.png");
}
.social-icon.social-icon-tw {
  background-image: url("../img/7/social/social-icon-tw.png");
}
.social-icon.social-icon-in {
  background-image: url("../img/7/social/social-icon-in.png");
}
.social-icon.social-icon-pin {
  background-image: url("../img/7/social/social-icon-pin.png");
}
.social-icon.social-icon-houzz {
  background-image: url("../img/7/social/social-icon-houzz.png");
}
.social-icon:hover {
  background-position: -1px -53px;
}
.form {
  width: 860px;
  border: 1px solid #d3d3d3;
  margin: 0 auto;
  padding: 34px 0 40px 0;
}
.form-title {
  margin: 0 auto 24px;
}
.form-email {
  height: 1px;
}
.form-email > .col-xs-12 {
  height: 1px;
}

.form-message {
  width: 690px;
  margin: 0 auto 30px;
  font-size: 18px;
  line-height: 21px;
}
.form-input {
  width: 666px;
  margin: 0 auto 40px;
}
.form textarea {
  resize: none;
}
.form-submit {
  background: #df2121;
  border-radius: 0;
  border: 0;
  font-size: 24px;
  padding: 14px 70px 10px;
  border-bottom: 5px solid #b91b1b;
  line-height: 20px;
}
.form-submit:focus,
.form-submit:active {
  box-shadow: 0 0 0;
  outline: none;
}
.form-submit:active {
  border: 0;
  margin-top: 4px;
  border-bottom: 1px solid #b91b1b;
}
#map {
  background: white;
}
.footer {
  z-index: 10;
  background: white;
  padding: 80px 0px 50px;
}
.footer-left {
  font-size: 18px;
  line-height: 21px;
}
.footer-list {
  font-size: 16px;
  margin-left: 20px;
  padding-left: 23px;
  line-height: 1.3em;
  list-style: none;
}
.footer-list > li {
  display: block;
  position: relative;
}
.footer-list > li:before {
  content: ' ';
  width: 8px;
  height: 8px;
  background: red;
  position: absolute;
  left: -16px;
  top: 5px;
  border-radius: 22px;
}
.footer-list > li a {
  color: #000;
}
.footer-tel {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
}
.footer-email {
  font-size: 18px;
  line-height: 21px;
  color: #000;
}
.footer-bottom {
  z-index: 10;
  background-color: #dcdcdc;
  font-size: 11px;
  padding: 22px 0;
  line-height: 14px;
}
.page_head-content {
  position: relative;
  margin-top: 80px;
}
.page_head-content-img {
  height: 565px;
  margin-left: -15px;
  margin-right: -15px;
  background-size: cover;
  background-position: center;
}
.page_head-content-title {
  position: absolute;
  top: 70px;
  color: #FFFFFF;
}
.page_content {
  padding: 0 57px;
}
.page_content h2 {
  margin-top: 25px;
  margin-bottom: 43px;
}
.page_content__left {
  padding-right: 0;
}
.page_content__right {
  padding-left: 0;
}
h5.page__title,
.page-content h5 {
  font-weight: 600;
  font-size: 16px;
  position: relative;
  padding-left: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}
h5.page__title:before,
.page-content h5:before {
  position: absolute;
  left: 0;
  content: '\2022';
  color: #db0011;
  font-size: 40px;
  line-height: 10px;
}
h5.page__title:first-child,
.page-content h5:first-child {
  margin-top: 5px;
}
p.page__text,
.page-content p {
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 20px;
}
.page__text__quote {
  font-style: italic;
}
.page__team {
  width: 270px;
  border: 1px solid #ececec;
}
.page__team .page__team-header {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding: 14px 0;
}
.page__team .page__team-footer {
  font-size: 12px;
  color: #9d9d9d;
  font-style: italic;
}
.page__team .page__team-footer .page__team-footer-map {
  padding-left: 50px;
  position: relative;
  margin-bottom: 20px;
}
.page__team .page__team-footer .page__team-footer-map:before {
  content: ' ';
  width: 13px;
  height: 17px;
  position: absolute;
  top: 5px;
  left: 20px;
  background-image: url(../img/page/pin.png);
}
.page__team .page__team-mate {
  display: table;
}
.page__team .team-mate-photo {
  display: table-cell;
  width: 78px;
  vertical-align: middle;
  text-align: center;
  padding: 7px 0;
}
.page__team .team-mate-photo .team-mate-photo-img {
  display: inline-block;
  width: 54px;
  height: 54px;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
}
.page__team .team-mate-text {
  display: table-cell;
  vertical-align: middle;
  font-size: 12px;
  padding-top: 0;
  padding-left: 10px;
}
.page__team .team-mate-text .team-mate-text-prof {
  font-weight: 600;
  font-size: 140%;
}
.page__team .team-mate-text .team-mate-text-name {
  font-weight: 400;
}
.page__plan {
  margin-top: 20px;
  margin-bottom: 50px;
}
.page__plan .image_over {
  display: block;
  margin: 0 auto;
}
.page__plan map {
  z-index: 9;
}
.page__parts {
  display: table;
  width: 170px;
  height: 170px;
  margin: 0 auto;
  border-radius: 100px;
  text-decoration: none;
  background-position: center;
  background-size: 100% 100%;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
.page__parts-title {
  display: table-cell;
  width: 170px;
  height: 170px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  border-radius: 100px;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
  vertical-align: middle;
  text-decoration: none;
}
.page__parts:hover {
  text-decoration: none;
  background-size: 120% 120%;
}
.page__parts:hover .page__parts-title {
  background: rgba(0, 0, 0, 0.4);
  text-decoration: none;
}
.page__rooms {
  margin-top: 50px;
  margin-bottom: 50px;
}
.page-content {
  margin-bottom: 50px;
}
.page-content .row + #consulting {
  margin-top: 50px;
}
.page-social {
  margin-bottom: 50px;
}
.site-page-menu {
  top: 80px;
  left: initial;
  position: fixed;
  width: 60px;
  display: none;
  z-index: 10;
}
.site-page-menu.site-page-menu__show {
  display: block;
}
.site-page-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
}
.site-page-menu ul li {
  margin-bottom: 10px;
}
.site-page-menu ul li a {
  padding: 7px 10px;
  display: block;
  line-height: 1em;
  color: #000;
  cursor: pointer;
}
.site-page-menu ul li a:hover {
  background: rgba(0, 0, 0, 0.1);
}
.site-page-menu ul li a.active {
  background: rgba(0, 0, 0, 0.2);
}
.person_popup {
  width: 900px;
  margin: 85px auto 50px;
  position: relative;
}
.person_popup-fill {
  background: white;
  padding: 20px 20px 40px;
}
.person_popup-photo {
  margin: 30px auto;
}
.person_popup-name {
  margin-bottom: 3px;
}
.person_popup-post {
  margin-bottom: 15px;
}
.person_popup-citation {
  font-style: italic;
}
.person_popup-projects h3 {
  margin-bottom: 7px;
  font-size: 100%;
}
.person_popup-projects ul {
  padding-left: 15px;
  list-style-type: disc;
}
.person_popup-projects ul li {
  margin-bottom: 3px;
}
.person_popup-projects ul li a {
  color: black;
}
.person_popup-projects ul li a:hover {
  text-decoration: none;
  border-bottom: 1px solid #DB0011;
}
/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  -webkit-transform: translate(0, -150px);
  -moz-transform: translate(0, -150px);
  -ms-transform: translate(0, -150px);
  -o-transform: translate(0, -150px);
  transform: translate(0, -150px);
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  -webkit-transform: translate(0, 150px);
  -moz-transform: translate(0, 150px);
  -ms-transform: translate(0, 150px);
  -o-transform: translate(0, 150px);
  transform: translate(0, 150px);
  opacity: 0;
}
html,
body {
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  height: 100%;
  min-height: 100%;
  position: relative;
  letter-spacing: 0.002em;
  line-height: 123%;
  min-width: 1200px;
}
.signature {
  margin: 30px 0 46px;
  letter-spacing: 0;
}
.signature-bottom {
  margin-bottom: 0;
}
.wrapper {
  background-attachment: fixed;
  background-size: cover;
  z-index: 0;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
.wrapper .wrapper-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
  display: none;
}
.is-not-IE .wrapper {
  background-image: none !important;
  -webkit-transition: all 0 linear;
  -moz-transition: all 0 linear;
  -ms-transition: all 0 linear;
  -o-transition: all 0 linear;
  transition: all 0 linear;
}
.is-not-IE .wrapper .wrapper-img {
  display: block;
}
.wrapper-back {
  background: white;
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 100px;
}
.wrapper-footer {
  z-index: 10;
  position: relative;
}
.site-button {
  position: relative;
}
.site-button-over {
  margin-left: -20px;
}
.site-button-link {
  top: inherit;
  left: inherit;
  position: fixed;
  bottom: 10px;
  display: block;
  width: 96px;
  height: 96px;
  border-radius: 50px;
  text-align: center;
  padding: 32px 0;
  z-index: 0;
}
.site-button-link__page {
  padding: 23px 0;
}
.site-button-link,
.site-button-link:focus,
.site-button-link:active,
.site-button-link:visited {
  background: #db0011;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
  color: #FFFFFF;
  outline: none;
  text-decoration: none;
}
.site-button-link:hover {
  background: #c2000f;
  color: white;
  text-decoration: none;
}
.mfp-close {
  font-weight: 900 !important;
  color: #B8B8B8 !important;
}
.mfp-close:after {
  content: '\2716';
}
.mfp-close:hover {
  color: #DB0011 !important;
}
/* projects */
.projects {
    padding: 0;
    margin-bottom: 30px;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    list-style: none;
}

.projects li {
	line-height: 150%;
    margin-bottom: 11px;
}

body.popup {
    overflow: hidden; }

ins {
    text-decoration: none; }

.pseudo {
    border-bottom: 1px dashed #DB0011;
    cursor: pointer; }
.pseudo:hover {
    border-bottom-style: solid; }

.popup_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000; }
.popup_container:after {
    content: "";
    background: #0b0b0b;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1; }
.popup_container #popup {
    background: #FFF;
    padding: 20px;
    position: fixed;
    left: 50%;
    width: 900px;
    margin-left: -448px; }
.popup_container #popup .close {
    cursor: pointer;
    color: #B8B8B8;
    position: absolute;
    top: -25px;
    right: 0;
    height: 20px;
    font-size: 200%;
    z-index: 1; }
.popup_container #popup .close:hover {
    color: #DB0011; }
.popup_container #popup .close:after {
    content: "✖"; }
.popup_container #popup .photo {
    background-repeat: no-repeat;
    width: 160px;
    height: 160px;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%; }
.popup_container #popup .photo,
.popup_container #popup .logo {
    margin: 0 20px 15px 0;
    float: left; }
.popup_container #popup .column {
    padding-bottom: 2px;
    overflow: hidden; }
.popup_container #popup h2 {
    margin: 0;
    font-size: 120%;
    font-weight: 700; }
.popup_container #popup h2 + p {
    margin-top: 10px; }
.popup_container #popup .post {
    margin-bottom: 15px; }
.popup_container #popup .projects h3 {
    margin-bottom: 7px;
    font-size: 100%; }
.popup_container #popup .projects ul {
    margin: 0;
    padding-left: 16px; }
.popup_container #popup .projects ul li {
    margin-bottom: 5px; }
.popup_container #popup .projects ul li:last-child {
    margin-bottom: 0; }
.popup_container #popup .projects ul li a {
    text-decoration: none; }
.popup_container #popup .red-link {
    font-weight: 400; }
.popup_container #popup .red-link,
.popup_container #popup .red-link:hover {
    border-bottom-width: 1px; }
.popup_container #popup .projects {
    margin: 0;
    -moz-column-count: auto;
    -webkit-column-count: auto;
    column-count: auto; }
.popup_container #popup.partners h2 {
    margin-bottom: 10px; }

.partner-photo {
    background-repeat: no-repeat !important;
    background-size: auto !important;
    border-radius: 0 !important;
}
.slider-bottom-panel {
    background-color: rgba(0,0,0,.6);
    position: absolute;
    bottom: 80px;
    text-align: right;
    color: #ffffff;
    z-index: 1;
    height: 90px;
    width: 100%;
    padding-top: 6px;
}
.slider-bottom-panel p {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    font-size: 24px;
    line-height: 1.6em;
    color: #ffffff;
    margin-right: -19px;
}

.thank_you-text {
	display: block;
	position: absolute;
	bottom:20px;
	left: 50%;
	margin-left: -400px;
	background: rgba(0,0,0,0.8);
	padding: 20px 50px;
	color: #FFFFFF;
	height: 200px;
	border-radius: 10px;
	width: 800px;
}

.thank_you-text a {
	color: #FFF;
}

.headline {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5em;
  color: #FFFFFF;
  font-weight: 300;
  text-shadow: 0em 0.05em 0.01em rgba(0, 0, 0, 0.2);
  line-height: 2em;
  position: absolute;
  top: 200px;
  margin-top: -50px;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  padding: 10px 20px;
  background-color: rgba(0,0,0,0.5);
}

.headline a {
  color: #ffffff;
  text-decoration: underline;
}

h3.no-margin-bottom {
	margin-bottom: 0px;
}

.margin-top-10 {
	margin-top: 10px;
}

.thank_you-wrapper-back {
	padding-bottom: 0px;
	margin-bottom: -50px;
}
.promo {
	border-radius: 20px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 10px;
}

.kvadrim {
	border: 5px solid #fed750;
}

.premium {
	border: 5px solid #b91b1b;
}

.item_box {
  height: 170px;
  width: 170px;
  display: inline-block;
  margin: 0 10px 5px 0;
}

.photo-thumb {
  width: 100%;
  height: auto;
}
