@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900&subset=cyrillic');
@font-face {
  font-family: 'museo_sans_cyrl900';
  src: url('../fonts/museosansblack-webfont.woff2') format('woff2'),
       url('../fonts/museosansblack-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans_cyrl700';
  src: url('../fonts/museosansbold-webfont.woff2') format('woff2'),
       url('../fonts/museosansbold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans_cyrl100';
  src: url('../fonts/museosanslight-webfont.woff2') format('woff2'),
       url('../fonts/museosanslight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans_cyrl100_italic';
  src: url('../fonts/museosanslightitalic-webfont.woff2') format('woff2'),
       url('../fonts/museosanslightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans_cyrl500';
  src: url('../fonts/museosansmedium-webfont.woff2') format('woff2'),
       url('../fonts/museosansmedium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo_sans_cyrl300';
  src: url('../fonts/museosansregular-webfont.woff2') format('woff2'),
       url('../fonts/museosansregular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'als_rublregular';
  src: url('../fonts/rouble-webfont.woff2') format('woff2'),
       url('../fonts/rouble-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$pd: 'Playfair Display', serif;
$regular: 400;
$bold: 700;
$blacks: 900;

$mlight:   'museo_sans_cyrl100';
$mlighti:  'museo_sans_cyrl100_italic';
$mmedium:  'museo_sans_cyrl300';
$mregular: 'museo_sans_cyrl500';
$mbold:    'museo_sans_cyrl700';
$mblack:   'museo_sans_cyrl900';
$rub:      'als_rublregular';