$footerHeight: 100px;
i[class^="icon-"] {
  display: inline-block;
}
body {
  min-width: 1194px;
  //overflow: hidden;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:focus {
    outline:none;
  }
}
.wrapper {
  width: 1194px;
  margin: 0 auto;
}
