.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba($black, .2);
  display: none;
  z-index: 999;
  &.open {
    display: inherit !important;
  }
  .close-modal {
    width: 76px;
    height: 76px;
    position: absolute;
    top: -40px;
    left: 420px;
  }
  .modal {
    position: fixed;
    width: 438px;
    height: 666px;
    background-color: #fff;
    top: 60px;
    left: 50%;
    right: 0;
    box-sizing: border-box;
    padding: 55px 60px 50px;
    transform: translate(-50%);
    transition: .3s;
    @media (max-width: 625px) {
      width: 95%;
    }
    h2 {
      text-align: center;
      font-size: 30px;
      line-height: 34px;
      letter-spacing: 0.02em;
      font-family: $pd;
      font-weight: $blacks;
      padding-bottom: 30px;
      color: $black;
    }
    .order__form-info,
    .order__form-person {
      text-align: center;
    }
  }
}
