.footer {

  padding: 36px 0 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.privacy-policy {
  font-size: 13px;
  letter-spacing: 0.02em;
  font-family: $mlight;
  color: $black;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid #c8c8c8;
}