.header {
  background-color: $repairs__bg;
  display: flex;
  min-height: 608px;
  &__information {
    width: 50%;
    min-width: 597px;
    &-content {
      float: right;
      padding-top: 10px;
      width: 597px;
    }
  }
  &__title span {
    font-family: $pd;
    font-weight: $regular;
    font-style: italic;
    font-size: 20px;
    letter-spacing: 0.04em;
    color: $black;
    padding-left: 80px;
  }
  &__info {
    display: flex;
    align-items: center;
    float: left;
    padding-top: 20px;
    margin-right: 8px;
    &-section {
      width: 100%;
      display: inline-block;
    }
    p {
      font-size: 13px;
      font-family: $mlight;
      color: $black;
      letter-spacing: 0.02em;
      line-height: 18px;
    }
  }
  &__img {
    display: flex;
    align-items: center;
    margin: 61px 0 0 40px;
    width: 379px;
    img {
      padding: 19px 22px;
      box-sizing: border-box;
      height: 130px;
      border: 1px solid $white;
    }
  }
  &__btn {
    box-shadow: 0 17px 44px 0 rgba(206, 47, 36, 0.23);
    width: 219px;
    margin: 0 23px 0 40px !important;
    float: left;
  }
  &__send {
    display: flex;
    align-items: center;
    margin-top: 32px;
  }
  &__project-count {
    display: inline-block;
    font-size: 13px;
    font-family: $mlighti;
    color: $black;
    letter-spacing: 0.02em;
    line-height: 16px;

  }
  &__slider {
    width: 50%;
  }
}
.owl-item {
  color: white;
  img {
    height: 608px;
    object-fit: cover;
  }
}


.owl-prev,
.owl-next {
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  border: 1px solid rgba($white, .3);
  text-align: center;
  line-height: 60px;
  transition: .3s;
  left: 40px;
  bottom: 40px;
  position: absolute;
  svg {
    width: 14px;
    height: 10px;
    fill: rgba($white, .5);
    transition: .3s;
  }
  &:hover {
    background: rgba($black, .3);
    svg {
      fill: $white;
    }
  }
}
.owl-next {
  left: 198px;
}
.owl-dots {
  counter-reset: slides-num;
  position: absolute;
  bottom: 40px;
  left: 100px;
  border-top: 1px solid rgba($white, .3);
  border-bottom: 1px solid rgba($white, .3);
  height: 60px;
  box-sizing: border-box;
  width: 98px;
  &:after {
    content: counter(slides-num);
    display: inline-block;
    font-size: 20px;
    font-family: $pd;
    font-weight: $regular;
    letter-spacing: 0.02em;
    color: $white;
    top: 17px;
    left: 38px;
    position: absolute;
  }
}

.owl-dot {
  display: inline-block;
  counter-increment: slides-num; /* Increment counter */
  span {
    display: none;
  }
  &.active {
    &:before {
      content:  counter(slides-num) "/" ; /* Use the same counter to get current item. */
      position: absolute;
      top: 17px;
      left: 20px;
      display: inline-block;
      font-size: 20px;
      font-family: $pd;
      font-weight: $regular;
      letter-spacing: 0.02em;
      color: $white;
    }
  }
}
