.map {
  text-align: center;
  min-height: 700px;
  box-sizing: border-box;
  padding-top: 115px;
  position: relative;
  #map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .wrapper {
    width: 931px;
  }
  &__title {
    font-size: 30px;
    line-height: 34px;
  }
  &__contact {
    margin-top: 57px;
    min-height: 96px;
    padding: 0 96px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-phone {
      @extend .nav__phone;
      margin-left: 0;
      display: flex;
    }
    &-btn {
      svg {
        fill: $white;
        width: 18px!important;
        height: 18px!important;

      }
    }
    &-email {
      font-size: 15px;
      line-height: 34px;
      font-family: $mlight;
      color: $black;
      text-decoration: none;
      span {
        border-bottom:1px solid #c4c4c4;
      }
      svg {
        width: 16px;
        height: 12px;
        fill: $red;
        margin-right: 13px;
      }
    }
  }
}
[class*="ymaps-2"][class*="-ground-pane"] {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
}
[class*="close-button"] {
  display: none;
}
[class*="balloon__content"] {
  width: 280px;
  height: 53px;
  padding: 0;
}
[class*="balloon__layout"],
[class*="balloon"] {
  background-color: transparent;
  box-shadow: none;
}
[class*="balloon"] {
  box-shadow: none;
  border:none;
}
[class*="balloon__tail"] {
  display: none !important;
  &:after {
    display: none !important;
  }
}
[class*="balloon_layout_normal"] {
  left: -150px!important;
  }
[class*="image-with-content"]:before {
  width: 280px;
  height: 53px;
  position: absolute;
  content: '';
  display: inline-block;
  background: url(../img/bg/map_info.png);
  top: -42px;
  left: -127px;
}
