.money {
  padding-top: 157px;
  padding-bottom: 166px;
  &__blocks {
    display: flex;
    padding-top: 60px;
  }
  &__block {
    margin-right: 109px;
    &-images {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 129px;
      max-width: 260px;
      width: 100%;
      border-bottom: 1px solid $grey;
      img:first-child {
        margin-right: 28px;
      }
    }
    &-info {

      &-title {
        font-size: 18px;
        line-height: 22px;
        color: $black;
        font-family: $mbold;
        letter-spacing: 0.03em;
        padding: 28px 0 23px;
      }
      &-description {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.02em;
        font-family: $mlight;
      }
    }
  }
}