.ready {
  display: flex;
  justify-content: space-between;
  padding-top: 115px;
  padding-bottom: 115px;
  &__info {
    width: 597px;
  }
  &__title {
    font-size: 30px;
    line-height: 34px;
    &:before {
      margin-left: 0;
      left: 0;
    }
  }
  &__subtitle {
    font-size: 14px;
    line-height: 18px;
    font-family: $mlight;
    color: $black;
    letter-spacing: 0.02em;
    padding-top: 42px;
    padding-bottom: 64px;
  }
  &__description {
    padding-left: 44px;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: $black;
    font-family: $mmedium;
    b {
      font-family: $mbold;
    }
  }
  &__btn {
    margin-top: 68px!important;
    width: 495px!important;
    margin-bottom: 0 !important;
    box-shadow: 0 17px 44px 0 rgba(206, 47, 36, 0.23);
    margin-left: 0 !important;
  }
  &__slide {
    &-link {
      margin: 0 0 30px;
      display: inline-block;
      position: relative;
      text-decoration: none;
      height: 222px;
      width: 278px;
    }
    &-preview {
      position: absolute;
      top: 0;
      left: 0;
    }
    &-title {
      display: flex;
      justify-content: space-between;
      width: 220px;
      margin: 0 auto;
      position: relative;
      top: 120px;
      align-items: center;
      span {
        color: $white;
        letter-spacing: 0.02em;
        &:first-child {
          font-size: 16px;
          font-family: $pd;
          font-weight: $blacks;
          line-height: 16px;
        }
        &:last-child {
          font-size: 14px;
          font-family: $mlight;
          line-height: 16px;
          position: relative;
          top: 3px;
        }
      }
    }
    &-list {
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 0;
      left: 16px;
      margin: 0 auto;
      width: 245px;
    }
  }
}

.mcs-horizontal-example{
  overflow-x: auto;
  width: 582px;
  ul{
    white-space: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
    > li{
      height: 504px;
      width: 582px;
      float: left;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-right: 28px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}