.repairs {
  background-color: $repairs__bg;
  min-height: 842px;
  box-sizing: border-box;
  padding-top: 74px;
  &__title {
    text-align: center;
    font-size: 38px;
    line-height: 42px;
    font-family: $pd;
    font-weight: $black;
    letter-spacing: 0.02em;
    color: $black;
  }
  &__description {
    text-align: center;
    padding: 40px 0 70px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    i {
      svg {
        width: 60px;
        height: 60px;
        fill: $red;
      }
    }
    &-title {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.02em;
      font-family: $mblack;
      color: $black;
      padding: 26px 0 23px;
    }
    &-description {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.02em;
      color: $black;
      font-family: $mlight;
    }
  }
  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    padding: 47px 56px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 60px;
    &-title {
      font-size: 26px;
      letter-spacing: 0.02em;
      font-family: $mbold;
      color: $black;
    }
    &-count {
      font-size: 22px;
      color: $black;
      font-family: $mlighti;
      letter-spacing: 0.02em;
      position: relative;
      b {
        font-size: 33px;
        font-family: $pd;
        font-weight: $bold;
      }
      span {
        font-family: $rub;
        font-size: 28px;
        letter-spacing: 0.02em;
      }
      sub {
        position: absolute;
        top: 7px;
        right: -8px;
        font-size: 12px;
        color: $black;
        font-family: $mlight;
        letter-spacing: 0.02em;
      }
    }
    &-description {
      color: $text__grey;
      font-size: 13px;
      line-height: 15px;
      font-family: $mlighti;
      letter-spacing: 0.02em;
    }
    &-btn {
      width: 450px;
      margin: 0;
    }
  }
}
