.steps {
  padding-top: 116px;
  padding-bottom: 116px;
  display: flex;
  justify-content: space-between;
  &__info {
    width: 337px;
    margin-right: 37px;
  }
  &__title {
    font-size: 30px;
    line-height: 34px;
    &:before {
      margin-left: 0;
      left: 0;
    }
  }
  &__description {
    font-size: 14px;
    line-height: 18px;
    color: $black;
    font-family: $mlight;
    letter-spacing: 0.02em;
    padding-top: 40px;
  }

  &__form {
    width: 500px;
  }
  &__gift {
    width: 276px;
    margin-left: auto;
    border-left:1px solid $repairs__bg;
    &-info {
      background-color: $repairs__bg;
      width: 100%;
      height: 144px;
      display: flex;
      align-items: center;
      align-content:center;
      justify-content: center;
      p {
        font-size: 17px;
        line-height: 24px;
        font-family: $mmedium;
        letter-spacing: 0.02em;
        color: $black;
        span {
          font-family: $mblack;
        }
      }
    }
    &-length {
      padding-top: 35px;
      padding-left: 30px;
      &-info {
        span:last-child {
          font-size: 12px;
          display: block;
          font-family: $mmedium;
          color: $black;
          letter-spacing: 0.02em;
          padding-top: 6px;
        }
      }
      &-now,
      &-total {
        font-size: 20px;
        font-family: $pd;
        font-weight: $regular;
        color: $black;
        letter-spacing: 0.04em;
      }
      &-total {
        color: #c0c0c0!important;
      }
      &-time {
        padding-top: 35px;
        span {
          font-size: 22px;
          color: $black;
          font-family: $pd;
          font-weight: $regular;
          letter-spacing: 0.02em;
        }
        svg {
          fill: $green;
          width: 18px;
          height: 17px;
          position: relative;
          top: 2px;
        }
      }
    }
  }
}


.step-form-confirm {
  border: 0;
  display: inline-block;
  outline: none;
}
.form-step {
  display: block;
  .order__form-person {
    padding-top: 34px;
  }
  &-title {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: $black;
    font-family: $mregular;
    padding-bottom: 35px;
  }
  &-thanks {
    font-size: 14px;
    line-height: 18px;
    font-family: $mlight;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $repairs__bg;
    max-width: 360px;
    box-sizing: border-box;
    padding: 18px 26px;
    margin-bottom: 48px;
  }
  input {
    max-width: 360px;
  }
  &-radios {
    display: flex;
    align-items: center;
  }
  &-group {
    margin-right: 15px;
    span {
      margin-right: 13px;
    }
    label {
      cursor: pointer;
      display: flex;
      align-items: center;
    }
  }
  &-input {
    span {
      font-size: 16px;
      line-height: 34px;
      letter-spacing: 0.02em;
      color: $black;
      font-family: $mlight;
    }
    input {
      max-width: 360px;
      padding-left: 15px;
    }
  }
  &-file {
    margin-bottom: 43px;
    display: flex;
    align-items: center;
    span:first-child {
      font-size: 18px;
      color: $black;
      font-family: $mregular;
      letter-spacing: 0.02em;
      line-height: 18px;
      margin-right: 30px;
    }
    .fake-btn {
      margin-right: 7px!important;
    }
    .file-drop-area {
      position: relative;
      height: 20px;
      transition: 0.2s;
      display: flex;
      align-items: center;
      cursor: pointer;
      .file-msg {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 150px;
        vertical-align: middle;

        font-size: 15px;
        color: $black;
        letter-spacing: 0.02em;
        font-family: $mmedium;
        padding-bottom: 2px;
        border-bottom:1px solid #cfd0d3;
      }

      .file-input {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
        opacity: 0;
        &:focus {
          outline: none;
        }
      }
    }
  }
}

.step-form {
  &-button {
    display: flex;
    align-items: center;
  }
  &-next,
  &-prev {
    background-color: $red;
    box-shadow: 0 17px 44px 0 rgba($red, 0.23);
    width: 132px;
    height: 46px;
    text-transform: uppercase;
    text-align: center;
    line-height: 46px;
    cursor: pointer;
    transition: .3s;
    font-size: 13px;
    letter-spacing: 0.06em;
    font-family: $pd;
    font-weight: $bold;
    color: $white;
    svg {
      fill: $white;
      width: 17px;
      height: 11px;
      transition: .3s;
    }
    &:hover,
    &:active {
      background-color: $black;
      box-shadow: none;
    }
  }
  &-prev {
    color: $black;
    background-color: transparent;
    border: 1px solid #e2e2e2;
    margin-right: 30px;
    box-shadow: none;
    transition: .3s;
    &:hover {
      background-color: $red;
      color: $white;
      svg {
        fill: $white;
      }
    }
    svg {
      fill: $black;
    }
  }
}
.form-step-inactive {
  display: none;
}
.step-form-confirm {
    width: 227px!important;
    height: 46px!important;
  margin: 0 !important;
}