.team {
  background-color: $repairs__bg;
  padding-top: 74px;
  box-sizing: border-box;
  &__title {
    text-align: center;
    font-size: 38px;
    line-height: 34px;
    font-family: $pd;
    font-weight: $blacks;
    padding-bottom: 69px;
    padding-top: 31px;
  }
  &__persons {
    display: flex;
    flex-wrap: wrap;
    max-width: 780px;
    &-long {
      max-width: 100%;
      width: 100%;
      .team__person:nth-child(3n) {
        margin-right: 133px;
      }
      .team__person:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
  &__persons-block {
    display: flex;
    justify-content: space-between;
  }
  &__person {
    margin-right: 133px;
    margin-bottom: 57px;
    max-width: 171px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &-image {
      width: 130px;
      height: 195px;
      object-fit: cover;
      //border-radius: 50%;
    }
    &-name {
      font-family: $pd;
      font-weight: $bold;
      font-size: 21px;
      color: $black;
      position: relative;
      margin-bottom: 38px;
      letter-spacing: 0.02em;
      margin-left: 27px;
      padding-top: 24px;
      margin-right: auto;
      &:after {
        content: '';
        display: inline-block;
        width: 24px;
        height: 5px;
        background-color: $red;
        position: absolute;
        bottom: -22px;
        left: 0;
      }
    }
    &-description {
      margin-left: 27px;
      margin-right: auto;
      letter-spacing: 0.02em;
      font-size: 13px;
      font-family: $mlight;
      color: $black;
    }
  }
  &__person-comment {
    background-color: $white;
    position: relative;
    max-width: 330px;
    width: 100%;
    height: 521px;
    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      left: -19px;
      top: 47px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 24.5px 19px 24.5px 0;
      border-color: transparent $white transparent transparent;
    }
    &-title {
      font-size: 26px;
      letter-spacing: 0.02em;
      font-family: $mregular;
      color: $black;

      line-height: 31px;
      padding-top: 39px;
      padding-left: 41px;
    }
    &-image {
      height: 211px;
      margin-top: 38px;
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    &-play {
      z-index: 1;
      display: inline-block;
      position: absolute;
      top: 98px;
      left: 160px;
      margin: 0 auto;
      text-decoration: none;
      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 56px;
        height: 56px;
        background: url(../img/icons/elipce.png) no-repeat center center;
        top: -20px;
        right: 35px;
        transition: .5s ease;
        z-index: 2;
      }
      &:after {
        content: '';
        display: inline-block;
        width: 330px;
        height: 210px;
        position: absolute;
        top: -98px;
        left: -160px;
        z-index: 1;
        background-color: rgba($black, .8);
      }
      &:hover:before {
        transform: rotate(360deg);
      }
      img {
        position: absolute;
        z-index: 3;
      }
      span {
        position: relative;
        z-index: 3;
        color: $white;
        top: -36px;
        line-height: 20px;
        left: 40px;
        font-size: 15px;
        font-family: $mlight;
        text-decoration: underline;
      }
    }
    &-btn {
      box-shadow: 0 17px 44px 0 rgba(#CE2F24, 0.23);
      margin-top: 43px!important;
      width: 191px!important;
      margin-left: 40px !important;
    }
  }
}