@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.eot');
    src: local('☺︎'), url('../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.woff') format('woff'), url('../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova/ProximaNovaBold/ProximaNovaBold.eot');
    src: local('☺︎'), url('../fonts/ProximaNova/ProximaNovaBold/ProximaNovaBold.woff') format('woff'), url('../fonts/ProximaNova/ProximaNovaBold/ProximaNovaBold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova/ProximaNovaBlack/ProximaNovaBlack.eot');
    src: local('☺︎'), url('../fonts/ProximaNova/ProximaNovaBlack/ProximaNovaBlack.woff') format('woff'), url('../fonts/ProximaNova/ProximaNovaBlack/ProximaNovaBlack.ttf') format('truetype');
    font-weight: 900;
}

h5 {
    font-weight: 600;
    font-size: 16px;
    position: relative;
    padding-left: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

h5:before {
    position: absolute;
    left: 0;
    content: '\2022';
    color: #db0011;
    font-size: 40px;
    line-height: 10px;
}

h5:first-child {
    margin-top: 5px;
}

p {
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 20px;
}

html,
body {
    font-family: "Proxima Nova", sans-serif;
    font-weight: 400;
    height: 100%;
    min-height: 100%;
    position: relative;
    letter-spacing: 0.002em;
    line-height: 123%;

    padding: 20px;
}

a {
    cursor: pointer;
    /*font-weight: 700;*/
    border-bottom: 2px dashed #db0011;
    color: black;
}

a:hover {
    color: #db0011;
    text-decoration: none;
    border-bottom: 2px solid #db0011;
}

a.md2 {
    font-weight: 400;
}

a.md2, a.md2:hover {
    border-width: 1px;
}